/*
Body Settings background and next
*/

body{
  background-color:black;
}

/*
h1 settings
*/

.h1-kontakt {
  color: brown;
}

.p1-kontakt {
  color: white;
}

/*
nadpis písně Emil Zátopek
*/

.Emil{
  color: grey;
}

/*
menu settings
*/

.Menu-Kontakt {
  list-style-type: auto;
  background-color: #000033;
  padding-top: auto;
  padding-bottom: auto;
  padding-right: auto;
  padding-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 800px;
  margin-left: 20px;
}

.clearFix {
  clear: both;
}
